/node_modules
/.next/
/.next-dev/
/out/
/build

# private local environment and credentials
.env*
!.env.local.example
!.env.example
.DS_Store
*.pem
npm-debug.log*
firebase-debug.log*
.vercel/
*.tsbuildinfo
next-env.d.ts
